################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movies.MVC/wwwroot
/.vs/CentricExpress2020
/Movies.MVC/obj
/Movies.WebApi/obj
/Movies.WebApi/bin
/Movies.MVC/bin
/Movies.Business/obj
/Movies.Data/obj
/Movies.Business/bin/Debug/netcoreapp3.1
/Movies.Data/bin/Debug/netcoreapp3.1
